body.anonima {
    background-color: var(--white);
}
body.anonima .holder {
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "main"
        "extra"
        "footer";
}
a {
    color: var(--primary-700);
}
a:hover {
    color: var(--primary-600);
    text-decoration: none;
}

/* HEADER */
body.anonima header {
    border-bottom: 1px solid var(--grey-200);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    grid-area: header;
    height: 100px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
body.anonima header .logo-instituicao {
    width: 240px;
}
body.anonima header h1 {
    height: auto;
    margin: 0;
    order: 2;
    width: auto;
}
body.anonima header h1 a {
    background-image: none;
    color: var(--grey-600);
    font-size: 1.75rem;
    font-weight: 300;
    height: auto;
    line-height: 1.25em;
    text-indent: 0;
    width: auto;
}
body.anonima header h1 a:hover {
    color: var(--primary);
    text-decoration: none;
}

/* ASIDE.right */
body.anonima.hasAsideRight .holder {
    grid-template-columns: auto 320px;
    grid-template-areas: 
        "header header"
        "main asideright"
        "footer footer";
}
body.anonima aside {
    padding: 10vh 50px;
    width: 360px;
}
body.anonima aside.right {
    padding: 4rem 3rem;
    width: 320px;
}

/* MAIN */
body.anonima main {
    min-height: calc(100vh - 100px);
    padding-top: 5rem;
    padding-bottom: 15rem;
    &:has(+ section) {
        min-height: 60vh;
        padding-bottom: 3rem;
    }
}
body.anonima .title-container {
    grid-template-rows: auto auto;
}
body.anonima .title-container > .action-bar-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    grid-row: 1 / 3;
}
body.anonima .title-container > h2 {
    font-size: 4rem;
    grid-column: 1;
    line-height: 1.25em;
    margin-bottom: 3rem;
}
body.anonima .title-container > h2 .fas {
    color: var(--grey-400);
    font-size: 3.5rem;
    margin-right: .5rem;
}
body.anonima main > h2 span.fas {
    font-size: 3rem;
    margin-right: 5px;
    min-width: 22px;
    opacity: .5;
}
body.anonima main .category {
    display: block;
    font-size: 1.25rem;
    font-weight: 300;
    grid-column: 1;
    grid-row: 1;
    margin-bottom: .5rem;
}
body.anonima.centered main {
    margin: 0 auto;
}
body.anonima.fixed-centered main {
    margin: 0 auto;
    max-width: 1024px;
}
body.anonima .ancoras {
    background-color: transparent;
    width: calc(320px - 6rem);
}
body.anonima .ancoras li:hover > a {
    background-color: transparent;
    color: var(--primary);
}
body.anonima main > .errornote {
    display: block;
    border-radius: 5px;
    font-size: 1.4rem;
    margin: 0 auto 3rem;
    padding: 1.5rem 2rem;
}
#extracontent {
    grid-area: extra;
    padding-bottom: 15rem;
}

/* FOOTER */
body.anonima footer.login-footer {
    background-color: var(--primary-900);
    border-radius: 50px 50px 0 0;
    grid-area: footer;
    margin-top: -10rem;
    position: relative;
    transition: all 0.5s;
    width: 100%;
}
body.anonima footer.login-footer.not-collapsed {
    margin-top: 0;
    position: absolute;
    bottom: 0;
}
body.anonima footer.login-footer .flex-container {
    gap: 1rem 3rem;
    justify-content: center;
    width: 100%;
}
body.anonima .button-services {
    display: flex;
    justify-content: center;
    & .title {
        color: var(--white);
        font-size: 1.75rem;
        font-weight: 700;
        padding: 3rem 0 2rem;
    }
    & button {
        &:hover {
            color: var(--primary-600);
        }
        &::before {
            content: "\f077";
            font-family: "Font Awesome 5 Free";
            font-size: 3rem;
            position: absolute;
            top: 1.25rem;
            left: 50%;
            transform: translateX(-50%);
        }
        &.title {
            background-image: url(/static/comum/img/anonima/seta-rodape-branco.svg);
            background-position: center -1px;
            background-repeat: no-repeat;
            background-size: contain;
            color: var(--primary-500);
            font-weight: 600;
            padding-top: 10rem;
        }
    }
}
body.anonima footer.login-footer.not-collapsed .button-services button::before,
body.anonima footer.login-footer.opened .button-services button::before {
    content: "\f078";
}
body.anonima ._main_menu {
    column-gap: 10rem;
    column-width: 245px;
    padding: 5rem 0;
}
body.anonima ._menu_group {
    break-inside: avoid;
    clear: both;
    list-style: none;
}
body.anonima ._menu_group + ._menu_group {
    margin-top: 5rem;
}
body.anonima ._menu_subtitle {
    color: var(--grey-500);
    display: block;
    font-size: 1.25rem;
    padding-bottom: .5rem;
    width: 100%;
}
body.anonima ._menu_subgroup {
    display: block;
    padding-left: 0;
    padding-bottom: 0;
}
body.anonima ._menu_item {
    list-style: none;
}
body.anonima ._menu_link {
    color: var(--white);
    display: flex;
    align-items: center;
    font-size: 1.65rem;
    font-weight: 600;
    gap: .75rem;
    line-height: 1.2em;
    padding: .75rem 0;
    width: 100%;
}
body.anonima ._menu_link:hover {
    color: var(--primary);
    text-decoration: none;
}
body.anonima ._menu_link span.fas {
    color: var(--grey-400);
    font-size: 1.5rem;
    opacity: .3;
    width: 18px;
}
body.anonima ._menu_link:hover span.fas {
    color: var(--primary);
    opacity: 1;
}
body.anonima footer.login-footer .flex-item {
    color: var(--white);
    flex-grow: 0;
    flex-basis: auto;
    text-align: center;
}
body.anonima footer.login-footer .flex-item .fab,
body.anonima footer.login-footer .flex-item .fas {
    color: rgba(255, 255, 255, .25);
    font-size: 1.2rem;
    margin-right: 5px;
}
body.anonima footer .section_description {
    border: 2px solid rgba(255,255,255,0.15);
    border-radius: 10px;
    break-inside: avoid;
    color: var(--grey-400);
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 1.25em;
    margin-top: 5rem;
    margin-bottom: 4rem;
    padding: 3rem;
    position: relative;
}
body.anonima footer .section_description::before {
    background-image: url(/static/comum/img/anonima/ilustracao-01.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 150px;
    position: absolute;
    top: -13rem;
    left: 0;
    width: 100%;    
}
body.anonima footer .section_description h3 {
    color: var(--white);
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    gap: 1rem;
    text-align: left;
    padding-bottom: 2rem;
}
body.anonima footer .section_description p {
    font-size: 1.6rem;
}

/* LOGIN */
body.anonima.login {
    background-color: var(--primary-800);
    background-image: url(/static/comum/img/anonima/bg-login.svg);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: contain;
    .button-services {
        button {
            &.title {
                background-image: url(/static/comum/img/anonima/seta-rodape.svg);
            }
        }
    }
}
body.anonima.login main {
    background: transparent;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1900px;
    min-height: 100vh;
}
body.anonima.login .flex-container {
    margin: 0;
}
body.anonima.login .title-container,
body.anonima.login header {
    display: none;
}
body.anonima.login label.required {
    cursor: default;
    font-weight: 300 !important;
}
body.anonima.login .form-login {
    background-color: var(--white);
    border-radius: 35px;
    flex-basis: 510px;
    flex-grow: 0;
    padding: 5rem;
    position: relative;
    &::before {
        content: "";
        border: 6px solid var(--primary-650);
        border-radius: 35px;
        height: 100%;
        position: absolute;
        top: 5rem;
        right: -5rem;
        width: 100%;
        z-index: -1;
    }
    & a:not(.btn) {
        &:hover {
            color: var(--primary-800);
        }
    }
    & h2 {
        color: var(--primary-850);
        display: flex;
        align-items: baseline;
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 4rem;
        & .badge {
            --bs-badge-font-size: 1.5rem;
        }
    }
    hr {
        border-color: rgba(30, 50, 49, 5%);
    }
    & .form-row {
        background-color: transparent;
        border: 0 none;
        margin-bottom: 2rem;
        & > div {
            grid-template-areas: "label"
                                "input";
            grid-template-columns: auto;
            padding: 0;
        }
        & input[type="password"],
        & input[type="text"] {
            background-color: var(--white);
            border: 0 none;
            border-bottom: 2px solid var(--grey-300);
            border-radius: 0;
            font-size: 120%;
            height: 42px;
            max-width: 100%;
            padding: 0 5px;
            width: 100%;
        }
        & input.password-input {
            border-radius: 0;
            width: calc(100% - 40px);
            & + button.input-group-addon {
                border: 2px solid var(--white);
                border-left: 0 none;
                border-bottom: 2px solid var(--grey-300);
                border-radius: 0;
                height: 42px;
                &:hover {
                    color: var(--primary);
                }
            }
        }
        & label {
            font-weight: normal !important;
            line-height: 1em;
            padding: 0 .5rem .5rem 0;
            text-align: left !important;
            width: 100%;
        }
    }
    & .submit-row {
        & input[type="submit"] {
            background-color: var(--primary-500);
            color: var(--primary-900);
            font-size: 120%;
            height: 45px;
            justify-content: center;
            margin-right: 0;
            width: 100%;
            &:hover {
                background-color: var(--primary-550);
            }
        }
    }
    & .remember-password {
        display: inline-block;
        padding-top: 2rem;
        width: 100%;
    }
}
body.anonima header .login-govbr {
    background-color: var(--grey-100);
    margin: 0;
    width: auto;
}
body.anonima.login label.required::before {
    content: "";
}
body.anonima.login .form-row input[type="password"]:active,
body.anonima.login .form-row input[type="password"]:focus,
body.anonima.login .form-row input[type="text"]:active,
body.anonima.login .form-row input[type="text"]:focus {
    border-color: var(--primary-400);
}
body.anonima.login .form-row-hidden {
    display: none;
}
body.anonima.login .password-container {
    width: 100%;
}
.login-bg {
    min-width: 100px;
    & p {
        color: var(--primary-550);
        font-size: 2.5rem;
        font-weight: 300;
        margin-top: 3rem;
        max-width: 510px;
    }
}
.login-bg .login-ilustracao {
    margin-top: 5rem;
    max-width: 800px;
    width: 100%;
}
.login-bg .logo-instituicao {
    max-width: 340px;
    width: 100%;
}

/* Extra */
body.anonima .errorlist,
body.anonima .messagelist {
    margin: 1rem 0 0;
    padding: 0 !important;
}
body.anonima .errornote,
body.anonima .alert {
    left: 0;
    width: 100%;
}
.cover {
    aspect-ratio: 2 / 1;
    margin: calc(-1 * var(--regular-padding)) calc(-1 * var(--regular-padding)) 4rem;
    overflow: hidden;
    width: calc(100% + (2 * var(--regular-padding))) !important;
}
.cover-image {
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.wrapper {
    padding-left: 15rem;
    padding-right: 15rem;
}

/* Alteração de senha */
body.anonima.alteracao-senha main {
    @media screen and (min-width: 1201px) {
        background-image: url(/static/comum/img/anonima/bg-alteracao-senha.svg);
        background-position: 0 calc(100% - 99px);
        background-repeat: no-repeat;
        background-size: 100% auto;
        padding-left: 45%;
    }
    @media screen and (min-width: 1300px) {
        padding-left: 50%;
    }
    @media screen and (min-width: 1700px) {
        background-position: 0 center;
    }
}

@media screen and (max-width: 1300px) {
    body.anonima.login form {
        padding: 5rem;
    }
    .login-bg p {
        max-width: 100%;
    }
}
@media screen and (max-width: 1024px) {
    body.anonima .holder {
        grid-template-columns: auto !important;
    }
    body.anonima.login .form-login {
        &::before {
            display: none;
        }
    }
    .wrapper {
        padding-left: 5rem;
        padding-right: 5rem;
    }
}
@media screen and (max-width: 940px) {
    .wrapper {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    body.anonima header h1 a {
        font-size: 1.45rem;
        text-align: right;
    }
    body.anonima.login main {
        align-items: start;
    }
    body.anonima.login main .flex-container > .flex-item {
        flex-basis: 100%;
    }
    body.anonima .title-container {
        grid-gap: 0;
        grid-template-columns: auto;
    }
    body.anonima .title-container > h2 {
        font-size: 2.5rem;
    }
    body.anonima .title-container > .action-bar-container {
        grid-row: 3;
        margin-bottom: 3rem;
    }
    body.anonima.login .form-login {
        justify-content: center;
    }
    .login-bg {
        border-left: 0 none;
        margin-bottom: 2rem;
        padding-left: 0;
    }
    .login-bg p {
        display: none;
    }
    .login-bg .login-ilustracao {
        display: none;
    }
}
@media screen and (max-width: 700px) {
    body.anonima footer .section_description {
        margin-top: 0;
    }
    body.anonima footer .section_description::before {
        display: none;
    }
}
